.control {
  margin-top: 10px;
  position: absolute;
  top: 95vh;
  left: 45vw;
  button {
    position: absolute;
  }
}

.home {
  width: 100%;
  height: 100%;
}

.back {
  left: 0vw;
}

.next {
  left: 5vw;
}

body {
  overflow-x: hidden;
}