<div inject="current"></div>
<div class="control">
  {{#ifCond view.current '!==' 0}}
  <button class="back">Back</button>
  {{/ifCond}}
  {{#ifCond view.current '!==' maxIndexOfChildViews}}
  <button class="next">Next</button>
  {{/ifCond}}
</div>